<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="css/rest.css" />
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<!-- header start -->
<div class="header">
  <div class="header_content">
    <div class="logo"><img src="images/logo_03.png" alt=""/></div>
    <div class="logo_text">北京紫润科技有限公司</div>
    <ul>
    		<li><a href="javascript:;"><img src="images/xxt_03.png" alt="" />TEL:010-59154638</a></li>
    		<li><a href="javascript:;"><img src="images/xxt_05.png" alt="" />www.21running.com </a></li>
    		<li><a href="javascript:;"><img src="images/xxt_07.png" alt="" />北京市朝阳区天鹅湾贰拾号会所</a></li>
    </ul>
  </div>
</div>
<!-- header end -->
<!--nav start-->
<div class="nav">
	<div class="nav_content">
		<ul>
		  <li><a href="javascript:;" class="active">首页</a></li>
	      <li><a href="javascript:;">核心产品</a></li>
	      <li><a href="javascript:;">关于紫润科技</a></li>
	      <li><a href="javascript:;">品牌故事</a></li>
	      <li><a href="javascript:;">健康生活</a></li>
	      <li><a href="javascript:;">新闻中心</a></li>
	      <li><a href="javascript:;">联系我们</a></li>
		</ul>
	</div>
</div>
<!--nav end-->
<!--banner start-->
<div class="banner">
	<img src="images/banner_02.png"/>
</div>
<!--banner end-->
<!-- 什么是痛风 start-->
<div class="side_nav">
	<div class="side_nav_con">
		<div>
			<ul>
				<li>
					<a href="javascript:;"><img src="images/xt_03.png" alt="" />国内顶级团队</a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/xt_05.png" alt="" />首创降低尿酸</a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/xt_07.png" alt="" />首个打造以B2B2C的社群模式</a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/xt_09.png" alt="" />结构化数据库</a>
				</li>
			</ul>
		</div>
		<h1>什么是痛风</h1>
		<span>
			<img src="images/tag_03.png"/>
		</span>
		<p>痛风是由单钠尿酸盐（MSU）沉积所致的晶体相关性关节病，与嘌呤代谢紊乱和（或）尿酸排泄减少所致的高尿酸血症直接相关，特指急性特征性关节炎和慢性痛风石疾病，主要包括急性发作性关节炎、痛风石形成、痛风石性慢性关节炎、尿酸盐肾病和尿酸性尿路结石，重者可出现关节残疾和肾功能不全。</p>
	</div>    
</div>
<!-- 什么是痛风 end --> 
<!-- 什么是痛风 start-->
<div class="gout">
	<h1>什么是痛风</h1>
	<span>
		<img src="images/tag_03.png"/>
	</span>
	<ul>
		<li>
			<a href="javascript:;"><img src="images/advertising_03.png"/></a>
			<a href="javascript:;"><img src="images/advertising_05.png"/></a>
			<a href="javascript:;"><img src="images/advertising_07.png"/></a>
		</li>
		<li>
			<a href="javascript:;"><img src="images/advertising_13.png"/></a>
			<a href="javascript:;"><img src="images/advertising_15.png"/></a>
			<a href="javascript:;"><img src="images/advertising_18.png"/></a>
		</li>
	</ul>
	<div class="more"><a href="javascipt:;">了解更多 >></a></div>
</div>
<!-- 什么是痛风 end --> 
<!-- 糖果 start -->
<div class="candy">
	<div class="text">
		<p>紫润科技·花色素压片糖果 +</p>
		<span>The pride and self - confidence of the Republic of Korea on all</span>
		<a href="javascipt:;">了解更多 >></a>
	</div>
</div>
<!-- 糖果 end -->
<!--新闻资讯 start-->
<div class="news">
	<h1>新闻资讯</h1>
	<span>
		<img src="images/tag_03.png"/>
	</span>
	<p>即时了解行业动态，把握行业动向</p>
	<ul>
		<li><a href="javascript:;">
			
		</a></li>
	</ul>
</div>
<!--新闻资讯 end-->
</body>
</html>
