<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="css/rest.css" />
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<!-- header start -->
<div class="header">
  <div class="header_content">
    <div class="logo"><img src="images/logo_03.png" alt=""/></div>
    <div class="logo_text">北京紫润科技有限公司</div>
    <ul>
    		<li><a href="javascript:;"><img src="images/xxt_03.png" alt="" />TEL:010-59154638</a></li>
    		<li><a href="javascript:;"><img src="images/xxt_05.png" alt="" />www.21running.com </a></li>
    		<li><a href="javascript:;"><img src="images/xxt_07.png" alt="" />北京市朝阳区天鹅湾贰拾号会所</a></li>
    </ul>
  </div>
</div>
<!-- header end -->
<!--nav start-->
<div class="nav">
	<div class="nav_content">
		<ul>
		  <li><a href="javascript:;" class="active">首页</a></li>
	      <li><a href="javascript:;">核心产品</a></li>
	      <li><a href="javascript:;">关于紫润科技</a></li>
	      <li><a href="javascript:;">品牌故事</a></li>
	      <li><a href="javascript:;">健康生活</a></li>
	      <li><a href="javascript:;">新闻中心</a></li>
	      <li><a href="javascript:;">联系我们</a></li>
		</ul>
	</div>
</div>
<!--nav end-->
<!--banner start-->
<div class="banner">
	<img src="images/banner_02.png"/>
</div>
<!--banner end-->
<!-- 什么是痛风 start-->
<div class="side_nav">
	<div class="side_nav_con">
		<div>
			<ul>
				<li>
					<a href="javascript:;"><img src="images/xt_03.png" alt="" />国内顶级团队</a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/xt_05.png" alt="" />首创降低尿酸</a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/xt_07.png" alt="" />首个打造以B2B2C的社群模式</a>
				</li>
				<li>
					<a href="javascript:;"><img src="images/xt_09.png" alt="" />结构化数据库</a>
				</li>
			</ul>
		</div>
		<h1>什么是痛风</h1>
		<span>
			<img src="images/tag_03.png"/>
		</span>
		<p>痛风是由单钠尿酸盐（MSU）沉积所致的晶体相关性关节病，与嘌呤代谢紊乱和（或）尿酸排泄减少所致的高尿酸血症直接相关，特指急性特征性关节炎和慢性痛风石疾病，主要包括急性发作性关节炎、痛风石形成、痛风石性慢性关节炎、尿酸盐肾病和尿酸性尿路结石，重者可出现关节残疾和肾功能不全。</p>
	</div>    
</div>
<!-- 什么是痛风 end --> 
<!-- 什么是痛风 start-->
<div class="gout">
	<h1>什么是痛风</h1>
	<span>
		<img src="images/tag_03.png"/>
	</span>
	<ul>
		<li>
			<a href="javascript:;"><img src="images/advertising_03.png"/></a>
			<a href="javascript:;"><img src="images/advertising_05.png"/></a>
			<a href="javascript:;"><img src="images/advertising_07.png"/></a>
		</li>
		<li>
			<a href="javascript:;"><img src="images/advertising_13.png"/></a>
			<a href="javascript:;"><img src="images/advertising_15.png"/></a>
			<a href="javascript:;"><img src="images/advertising_18.png"/></a>
		</li>
	</ul>
	<div class="more"><a href="javascipt:;">了解更多 >></a></div>
</div>
<!-- 什么是痛风 end --> 
<!-- 糖果 start -->
<div class="candy">
	<div class="text">
		<p>紫润科技·花色素压片糖果 +</p>
		<span>The pride and self - confidence of the Republic of Korea on all</span>
		<a href="javascipt:;">了解更多 >></a>
	</div>
</div>
<!-- 糖果 end -->
<!--新闻资讯 start-->
<div class="news">
	<h1>新闻资讯</h1>
	<span>
		<img src="images/tag_03.png"/>
	</span>
	<p>即时了解行业动态，把握行业动向</p>
	<ul>
		<li><a href="javascript:;">
			<img src="images/doctor_03.png"/>
			<div>
				<img src="images/logo2_03.png" alt="" />
				<p>在党的旗帜下奋进强军新时代</p>
				<p>2018年8月19日  |  来源： 新华网</p>
			</div>
		</a>
			<p>“心有大我，至诚报国”——知识分子的  从培训到项目合作 分享减贫经验    7月中国经济保持稳中向好（经济形势 </p>
			<span>
				<a href="javascript:;">查看详情</a>
			</span>
		</li>
		<li><a href="javascript:;">
			<img src="images/doctor_05.png"/>
			<div>
				<img src="images/logo2_03.png" alt="" />
				<p>在党的旗帜下奋进强军新时代</p>
				<p>2018年8月19日  |  来源： 新华网</p>
			</div>
		</a>
			<p>“心有大我，至诚报国”——知识分子的  从培训到项目合作 分享减贫经验    7月中国经济保持稳中向好（经济形势 </p>
			<span>
				<a href="javascript:;">查看详情</a>
			</span>
		/li>
		<li><a href="javascript:;">
			<img src="images/doctor_08.png"/>
			<div>
				<img src="images/logo2_03.png" alt="" />
				<p>在党的旗帜下奋进强军新时代</p>
				<p>2018年8月19日  |  来源： 新华网</p>
			</div>
		</a>
			<p>“心有大我，至诚报国”——知识分子的  从培训到项目合作 分享减贫经验    7月中国经济保持稳中向好（经济形势 </p>
			<span>
				<a href="javascript:;">查看详情</a>
			</span>
		</li>
		<li><a href="javascript:;">
			<img src="images/doctor_10.png"/>
			<div>
				<img src="images/logo2_03.png" alt="" />
				<p>在党的旗帜下奋进强军新时代</p>
				<p>2018年8月19日  |  来源： 新华网</p>
			</div>
		</a>
			<p>“心有大我，至诚报国”——知识分子的  从培训到项目合作 分享减贫经验    7月中国经济保持稳中向好（经济形势 </p>
			<span>
				<a href="javascript:;">查看详情</a>
			</span>
		</li>
	</ul>
</div>
<!--新闻资讯 end-->
<!-- 品牌故事 start -->
<div class="brand">
	<h1>品牌故事</h1>
	<span>
		<img src="images/tag_03.png"/>
	</span>
	<p>紫润花色素产品是2006年开始研发，09年开始申请专利，并获得国家星火计划2等奖，2012年专利审批通过，做了3年的临床数据研究和认证，2015年公司成立，2018年公司上市。</p>
	<div>
		<p>
			<img src="images/bottom_xt_03.png" alt="" />
			<img src="images/bottom_xt_05.png" alt="" />
			<img src="images/bottom_xt_08.png" alt="" />
			<img src="images/bottom_xt_11.png" alt="" />
			<img src="images/bottom_xt_13.png" alt="" />
		</p>
		<h3>天然植物萃取 严苛制剂技术 强固健康屏障</h3>
		<p>紫润花色素压片糖果是以植物色素提取物为主要原料，从槐花提取物、苹果提取物、越橘提取物、杨桃提取物、迷迭香提取物中，比照食品用量给予志愿者食用，发现对痛风有较好的抑制作用。抑制高尿酸血症的花色素苷组合物与乳蛋白、维生素、微量元素等营养成分配伍、精制而成的咀嚼型压片糖果，也适合高血糖、高尿酸人群使用。纯天然萃取，有助于减少尿酸积聚，从而降低血液酸度，稳定尿酸水平，理气散瘀，行气疏滞，帮助身体加速排走过多的尿酸。花色素是优良的自由基清除剂和抗炎、抗氧化剂，对70多种疾病有预防和控制作用。紫润花色素压片糖果还含有丰富的营养素和微量元素，长期食用有益于身体健康和保持青春活力。</p>
	</div>
</div>
<!-- 品牌故事 end -->
<!-- 关于公司 start -->
<div class="about">
	<div class="about_con">
		<div>
			<img src="images/certificate_21.png"/>
		</div>
		<div>
			<p>北京紫润科技有限公司</p>
			<p>“北京紫润科技有限公司”成立于2015年7月，注册资本1000万元。公司 拥有全球研发视野的国家级重点科研实验室，国内顶级中科院研发团队及 大规模临床医学研究，丰富运营经验的专业团队，以及多重知识产权保护 药食同源的功能性食品营养科学技术平台。紫润最擅长从中国医药五千年 的传统宝库，利用严谨的医学标准，配合国际尖端科技，持续研制专注于 人类健康的安全、高效、纯净、的营养补充品，从根源上改善健康。如今 紫润科技已是备受信赖的天然营养健康品牌。
公司开发的国际首创降低尿酸，缓解痛风产品已获批上市，该产品技术领先，具有广阔的市场前景。未来，公司将致力于成为具有国际竞争力的生物科技企业，致力于整合全球健康管理资源，在大健康产品领域持续创新，保持产品竞争优势，为慢性疾病防治和国民健康做出更大贡献，把健康带给世界。</p>
		</div>
	</div>
</div>
<!-- 关于公司 end -->
<!-- bottom start -->
<div class="bottom">
  <div class="header_content">
    <div class="logo"><img src="images/logo_03.png" alt=""/></div>
    <div class="logo_text">北京紫润科技有限公司</div>
    <ul>
    		<li><a href="javascript:;"><img src="images/bottom_xxt_03.png" alt="" />TEL:010-59154638</a></li>
    		<li><a href="javascript:;"><img src="images/bottom_xxt_05.png" alt="" />www.21running.com </a></li>
    		<li><a href="javascript:;"><img src="images/bottom_xxt_07.png" alt="" />北京市朝阳区天鹅湾贰拾号会所</a></li>
    </ul>
  </div>
</div>
<!-- bottom end -->
<div class="footer">
	<div class="footer_con">
		Copyright © 2018 ***************************
	</div>
</div>
</body>
</html>
