<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻中心</title>
		<link rel="stylesheet" href="css/rest.css" />
		<link rel="stylesheet" href="css/swiper.min.css">
 		<link rel="stylesheet" href="css/index.css">
 		<link rel="stylesheet" href="css/news.css">
	</head>
	<body>
<!-- header start -->
<div class="header">
  <div class="header_content">
    <div class="logo"><img src="images/logo_03.png" alt=""/></div>
    <div class="logo_text">北京紫润科技有限公司</div>
    <ul>
    		<li><a href="javascript:;"><img src="images/xxt_03.png" alt="" />TEL:010-59154638</a></li>
    		<li><a href="javascript:;"><img src="images/xxt_05.png" alt="" />www.21running.com </a></li>
    		<li><a href="javascript:;"><img src="images/xxt_07.png" alt="" />北京市朝阳区天鹅湾贰拾号会所</a></li>
    </ul>
  </div>
</div>
<!-- header end -->
<!--nav start-->
<div class="nav">
	<div class="nav_content">
		<ul>
		  <li><a href="index.html" >首页</a></li>
	      <li><a href="javascript:;">核心产品</a></li>
	      <li><a href="javascript:;">关于紫润科技</a></li>
	      <li><a href="javascript:;">品牌故事</a></li>
	      <li><a href="javascript:;">健康生活</a></li>
	      <li><a href="news.html" class="active">新闻中心</a></li>
	      <li><a href="javascript:;">联系我们</a></li>
		</ul>
	</div>
</div>
<!--nav end-->
<!--banner start-->
<div class="banner">
	 <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="images/banner_news_02.png" alt="" /></div>
      <div class="swiper-slide"><img src="images/banner_news_02.png" alt="" /></div>
      <div class="swiper-slide"><img src="images/banner_news_02.png" alt="" /></div>
      <div class="swiper-slide"><img src="images/banner_news_02.png" alt="" /></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
<!--banner end-->
<!--newsList start-->
<div class="news_list">
	<div class="news_list_con">
		<div class="news_list_left">
			<div class="title"><img src="images/new_house_03.png"/>返回首页><span>新闻中心</span></div>
			<ul>
				<li>
					<div>
						<img src="images/news_img_03.png"/>
					</div>
					<div>
						<p class="news_title"><img src="images/news_eye_07.png"/>信手摘下双镜之花——疑难肾结石解决专家</p>
						<p class="news_time"><img src="images/news_time_03.png"/>发布时间：2017-01-20</p>
						<p class="news_text">摘要：在泌尿结石手术这棵“树”上，传统的开腹取石手术、体外冲击波碎石术等，因创伤巨大、碎石排石效果不确切等原因，已被更新的微创腔镜手术盖住了芳华。盛开在树顶端、艳压群芳的花朵...当...</p>
						<p><a href="news_details.html">查看详情</a></p>
					</div>
				</li>
				<li>
					<div>
						<img src="images/news_img_06.png"/>
					</div>
					<div>
						<p class="news_title"><img src="images/news_eye_07.png"/>百强社区联盟活动启动大会，你的社区来了吗？</p>
						<p class="news_time"><img src="images/news_time_03.png"/>发布时间：2017-01-20</p>
						<p class="news_text">摘要：这是一个属于联盟的时代!坐飞机有飞机联盟、踢球有足球联盟、广告有广告联盟，还有复仇者联盟、守护者联盟、英雄联盟…
</p>
						<p><a href="news_details.html">查看详情</a></p>
					</div>
				</li>
				<li>
					<div>
						<img src="images/news_img_09.png"/>
					</div>
					<div>
						<p class="news_title"><img src="images/news_eye_07.png"/>年轻小伙得膀胱结石 平时有小症状要警惕</p>
						<p class="news_time"><img src="images/news_time_03.png"/>发布时间：2017-01-20</p>
						<p class="news_text">摘要：膀胱结石多见于老年男性，年轻人一般很少见。近日，荣县富东医院s就接诊了一名年仅30岁的膀胱结石患者，医生发现，这名小伙之前就出现过症状，但没有引起重视，想要寻求治疗时...            结石已达4cm左右。有较大...</p>
						<p><a href="news_details.html">查看详情</a></p>
					</div>
				</li>
				<li>
					<div>
						<img src="images/news_img_13.png"/>
					</div>
					<div>
						<p class="news_title"><img src="images/news_eye_07.png"/>成都85岁老人胆囊变“陶瓷” 内藏7颗结石</p>
						<p class="news_time"><img src="images/news_time_03.png"/>发布时间：2017-01-20</p>
						<p class="news_text">摘要：   近日，中国新闻网、腾讯·大成网、网易新闻、凤凰网等多家媒体报道，四川结石病医院黄大熔主任从8旬老人腹中取出“陶瓷胆囊”，内含7颗结石，这到底是怎么回事呢？</p>
						<p><a href="news_details.html">查看详情</a></p>
					</div>
				</li>
				<li>
					<div>
						<img src="images/news_img_15.png"/>
					</div>
					<div>
						<p class="news_title"><img src="images/news_eye_07.png"/>一女子喝生水30余年 双肾长10厘米巨型结石</p>
						<p class="news_time"><img src="images/news_time_03.png"/>发布时间：2017-01-20</p>
						<p class="news_text">摘要： 中新网成都11月7日电 (王鹏)记者7日从四川省结石病医院获悉，该医院近日收治了一名罕见肾结石病人。来自四川凉山的34岁女子各各木，双肾长出10厘米巨型结石，肾内空间几乎全被结石...填满。量快速扩..</p>
						<p><a href="news_details.html">查看详情</a></p>
					</div>
				</li>
			</ul>
			<div class="page">
				<span>上一页</span>
				<b class="active">1</b>
				<b>2</b>
				<b>3</b>
				  &nbsp; &nbsp;···
				<b>4</b>
				<b>5</b>
				<b>6</b>
				<span class="active">下一页</span>
			</div>
		</div>
		<div class="news_list_right">
			<div>紫润健康，滋润健康</div>
			<ul>
			<li>
				<div><img src="images/news_logo_03.png"/></div>
				<div>
					<span>公司地址</span>
					<span>北京市朝阳区天鹅湾贰拾号会所</span>
				</div>
			</li>
			<li>
				<div><img src="images/news_logo_07.png"/></div>
				<div>
					<span>咨询电话</span>
					<span>010-59154638</span>
				</div>
			</li>
			<li>
				<div><img src="images/news_logo_10.png"/></div>
				<div>
					<span>官方网店</span>
					<span>www.21running.com</span>
				</div>
			</li>
		</ul>
		</div>
	</div>
</div>
<!--newList end-->
<!-- bottom start -->
<div class="bottom">
  <div class="header_content">
    <div class="logo"><img src="images/logo_03.png" alt=""/></div>
    <div class="logo_text">北京紫润科技有限公司</div>
    <ul>
    		<li><a href="javascript:;"><img src="images/bottom_xxt_03.png" alt="" />TEL:010-59154638</a></li>
    		<li><a href="javascript:;"><img src="images/bottom_xxt_05.png" alt="" />www.21running.com </a></li>
    		<li><a href="javascript:;"><img src="images/bottom_xxt_07.png" alt="" />北京市朝阳区天鹅湾贰拾号会所</a></li>
    </ul>
  </div>
</div>
<!-- bottom end -->
<div class="footer">
	<div class="footer_con">
		Copyright © 2018 ***************************
	</div>
</div>
</body>
<script src="js/swiper.min.js.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
    	  autoplay:true,
      pagination: {
        el: '.swiper-pagination',
      },
    });
</script>
</html>
