<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻中心</title>
		<link rel="stylesheet" href="css/rest.css" />
		<link rel="stylesheet" href="css/swiper.min.css">
 		<link rel="stylesheet" href="css/index.css">
 		<link rel="stylesheet" href="css/news.css">
	</head>
	<body>
<!-- header start -->
<div class="header">
  <div class="header_content">
    <div class="logo"><img src="images/logo_03.png" alt=""/></div>
    <div class="logo_text">北京紫润科技有限公司</div>
    <ul>
    		<li><a href="javascript:;"><img src="images/xxt_03.png" alt="" />TEL:010-59154638</a></li>
    		<li><a href="javascript:;"><img src="images/xxt_05.png" alt="" />www.21running.com </a></li>
    		<li><a href="javascript:;"><img src="images/xxt_07.png" alt="" />北京市朝阳区天鹅湾贰拾号会所</a></li>
    </ul>
  </div>
</div>
<!-- header end -->
<!--nav start-->
<div class="nav">
	<div class="nav_content">
		<ul>
		  <li><a href="javascript:;" >首页</a></li>
	      <li><a href="javascript:;">核心产品</a></li>
	      <li><a href="javascript:;">关于紫润科技</a></li>
	      <li><a href="javascript:;">品牌故事</a></li>
	      <li><a href="javascript:;">健康生活</a></li>
	      <li><a href="news.html" class="active">新闻中心</a></li>
	      <li><a href="javascript:;">联系我们</a></li>
		</ul>
	</div>
</div>
<!--nav end-->
<!--banner start-->
<div class="banner">
	 <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="images/banner_news_02.png" alt="" /></div>
      <div class="swiper-slide"><img src="images/banner_news_02.png" alt="" /></div>
      <div class="swiper-slide"><img src="images/banner_news_02.png" alt="" /></div>
      <div class="swiper-slide"><img src="images/banner_news_02.png" alt="" /></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
<!--banner end-->
<!--newsList start-->
<div class="news_list">
	<div class="news_list_con">
		<div class="news_list_left">
			<div class="title"><img src="images/new_house_03.png"/>返回首页&nbsp;>&nbsp;新闻中心&nbsp;>&nbsp;<span>新闻详情</span></div>
			<div class="news_details">
				<p>天然植物萃取 严苛制剂技术 强固健康屏障</p>
				<p><img src="images/news_time_03.png"/>发布时间：2017-01-20</p>
				<p>紫润花色素压片糖果是以植物色素提取物为主要原料，从槐花提取物、苹果提取物、越橘提取物、杨桃提取物、迷迭香提取物中，比照食品用量给予志愿者食用，发现对痛风有较好的抑制作用。抑制高尿酸血症的花色素苷组合物与乳蛋白、维生素、微量元素等营养成分配伍、精制而成的咀嚼型压片糖果，也适合高血糖、高尿酸人群使用。纯天然萃取，有助于减少尿酸积聚，从而降低血液酸度，稳定尿酸水平，理气散瘀，行气疏滞，帮助身体加速排走过多的尿酸。花色素是优良的自由基清除剂和抗炎、抗氧化剂，对70多种疾病有预防和控制作用。紫润花色素压片糖果还含有丰富的营养素和微量元素，长期食用有益于身体健康和保持青春活力。</p>
			</div>
		</div>
		<div class="news_list_right">
			<div>紫润健康，滋润健康</div>
			<ul>
			<li>
				<div><img src="images/news_logo_03.png"/></div>
				<div>
					<span>公司地址</span>
					<span>北京市朝阳区天鹅湾贰拾号会所</span>
				</div>
			</li>
			<li>
				<div><img src="images/news_logo_07.png"/></div>
				<div>
					<span>咨询电话</span>
					<span>010-59154638</span>
				</div>
			</li>
			<li>
				<div><img src="images/news_logo_10.png"/></div>
				<div>
					<span>官方网店</span>
					<span>www.21running.com</span>
				</div>
			</li>
		</ul>
		</div>
	</div>
</div>
<!--newList end-->
<!-- bottom start -->
<div class="bottom">
  <div class="header_content">
    <div class="logo"><img src="images/logo_03.png" alt=""/></div>
    <div class="logo_text">北京紫润科技有限公司</div>
    <ul>
    		<li><a href="javascript:;"><img src="images/bottom_xxt_03.png" alt="" />TEL:010-59154638</a></li>
    		<li><a href="javascript:;"><img src="images/bottom_xxt_05.png" alt="" />www.21running.com </a></li>
    		<li><a href="javascript:;"><img src="images/bottom_xxt_07.png" alt="" />北京市朝阳区天鹅湾贰拾号会所</a></li>
    </ul>
  </div>
</div>
<!-- bottom end -->
<div class="footer">
	<div class="footer_con">
		Copyright © 2018 ***************************
	</div>
</div>
</body>
<script src="js/swiper.min.js.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
    	  autoplay:true,
      pagination: {
        el: '.swiper-pagination',
      },
    });
</script>
</html>
