<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div>
			<div class="banner">
				<div class="shade">
					<div class="logo"><img src="../images/logo.png"/></div>
					<div class="menu"><img src="../images/logo_05.png" /></div>
					<div class="about_title">
						<i>about us</i>
						<i>关于我们</i>
					</div>
				</div>
			</div>
			
			<div class="menus">
				<div class="menus-con">
					<div class="active">
						<a href="javascript:;">
							<img src="../images/nav_06.gif" alt="" /> 
							<span>首页</span>
						</a>
					</div>
					<div>
						<a href="javascript:;" >
							<img src="../images/nav_03.gif" alt="" /> 
							<span>公司介绍</span>
						</a>
					</div>
					<div>
						<a href="javascript:;">
							<img src="../images/nav_09.gif" alt="" /> 
						</a>
					</div>
					<div>
						<a href="javascript:;">
							<img src="../images/nav_14.gif" alt="" /> 
						</a>
					</div>
					<div>
						<a href="javascript:;">
							<img src="../images/nav_15.gif" alt="" /> 
						</a>
					</div>
					<div>
						<a href="javascript:;">
							<img src="../images/nav_16.gif" alt="" /> 
						</a>
					</div>
					<div>
						<a href="javascript:;">
							<img src="../images/nav_20.png" alt="" /> 
						</a>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery.min.js"></script>
		<script>
			$(".menu").click(function(){
				event.stopPropagation();
				$(".menus").slideDown();
				$(this).find("img").attr("src","../images/menu_active_03.png")
				$(this).find("img").css({"position":"absolute","z-index":"4","right":"50px","top":"50px"})
			})
			$(".menus div").click(function(){
				event.stopPropagation();
			})
			$(document).click(function(){
				$(".menus").slideUp();
				$(".menu").find("img").attr("src","../images/logo_05.png")
				$(".menu").find("img").css({"position":"static","z-index":"4"})
			})
		</script>
	</body>
</html>
