<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../css/rest.css"/>
  <link rel="stylesheet" type="text/css" href="../css/about.css"/>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.include.js"></script>
  <title>可可力量</title>
</head>
<body>
<!-- header banner start -->
<div class="banner">
	<div class="shade">
		<div class="logo"><img src="../images/logo.png"/></div>
		<div class="menu"><img src="../images/logo_05.png" /></div>
		<div class="about_title">
			<i></i>
			<i>可可力量</i>
		</div>
	</div>
</div>
<!-- header banner end -->
<!-- content start -->
<div class="about-content">
	<div class="about">
		<p>当前位置：<span>首页</span> - 产品介绍 - 可可力量</p>
		<div class="about-text about-coke">
			<div>
				<img src="../images/coke.gif" alt="" />
			</div>
		</div>
	</div>
</div>
<!-- content end -->
<!-- footer start -->
<script id="block_footer">
	$(function () {
		$("#block_footer").include("footer.html");
	})
</script>
<!-- footer end -->
<!-- return top start -->
<script id="block_return">
	$(function () {
		$("#block_return").include("return_top.html");
	})
</script>
<!-- return top end -->
<script src="../js/index.js"></script>
<script>
	$(function(){
		$(".banner").css("background",'url(../images/cokebg_01.gif) no-repeat')
	})
</script>
</body>
</html>
