<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../css/rest.css"/>
  <link rel="stylesheet" type="text/css" href="../css/about.css"/>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.include.js"></script>
  <title>关于我们</title>
</head>
<body>
<!-- header banner start -->
<div class="banner">
	<div class="shade">
		<div class="logo"><img src="../images/logo.png"/></div>
		<div class="menu"><img src="../images/logo_05.png" /></div>
		<div class="about_title">
			<i>NEWS</i>
			<i>新闻动态</i>
		</div>
	</div>
</div>
<div class="menus">
	<div class="menus-con">
		<div class="active">
			<a href="javascript:;">
				<img src="../images/nav_06.gif" alt="" /> 
				<span>首页</span>
			</a>
		</div>
		<div>
			<a href="javascript:;" >
				<img src="../images/nav_03.gif" alt="" /> 
				<span>公司介绍</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<img src="../images/nav_09.gif" alt="" /> 
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<img src="../images/nav_14.gif" alt="" /> 
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<img src="../images/nav_15.gif" alt="" /> 
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<img src="../images/nav_16.gif" alt="" /> 
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<img src="../images/nav_20.png" alt="" /> 
			</a>
		</div>
	</div>
</div>
<!-- header banner end -->
<!-- content start -->
<div class="about-content">
	<div class="about">
		<p>当前位置：<span>首页</span> - 新闻动态 - 详情</p>
		<div class="about-text about-coke">
			<h1>渐进负荷：该如何安全的增加训练重量？</h1>
			<div class="img">
				<img src="../images/newst_03.gif"/>
			</div>
			<p>渐进性超负荷(progressive overload)代表着随着时间的推移，当运动员对某一负荷的训练刺激适应后，就必须适时、适量地增大负荷使之超过原有负荷，训练成果才能继续增长渐进性超负荷训练原理源于自然界生物体的最基本的生理特征之一，就是生物体可对任何内外刺激发生应答性的反应，也称做应激性。
</p>
			<div class="img">
				<img src="../images/newst_06.gif"/>
			</div>
			<p class="indent">压力与适应</p>
			<p>训练的负荷，强度，量都是施加在我们身体上的压力，训练获得进步就是适应压力的过程。</p>
			<p>渐进性是所有训练绝对不能少的原则，可以说是训练的基本架构之一，且脱离不了“适应”与“压力”。我们常说有压力才能进步，训练其实也是这么一回事！</p>
			<p>当身体接受训练，骨骼肌、代谢、心血管及呼吸等系统必须承受压力，并迫使身体去习惯，进而产生适应。当适应开始出现，即代表你可以再给予新的（更多）压力。</p>
			<p>而对于健身训练来讲有很多变量都可以让你做到负荷渐进，常见的：增加所举次数、增加所举速度、缩短训练组之间的休息时间、延长训练组之间的休息时间但同时增加所举重量、增加训练组数目（训练量）等等。</p>
			<div class="img">
				<img src="../images/newst_08.gif"/>
			</div>
			<p class="indent">而今天我们要谈论的是如何增加重量？</p>
			<p>渐进的增加重量，原理看起来并不难，但没有那么简单！</p>
			<p>要在什么时机施予身体新的压力（增加重量，调整负荷）？一次要增加多少？这些都是学问，更是一门技巧！</p>
			<p>特别是对于新手，为了安全有效的渐进负荷，并提升训练效果，你可以试试：二二法则。</p>
			<p>定义上是指某一训练动作的最后一组，如果在连续2次的训练中，都能做出比原先设定的反覆次数多出2次，下次训练就应该增加重量。前提是动作无误。</p>
			<div class="img">
				<img src="../images/newst_11.gif"/>
			</div>
			<p class="indent">举个例子</p>
			<p>假如你每周都会练习一次卧推，重量及组数是：60公斤做10下，每次3组（也就是10、10、10下，皆60公斤）。</p>
			<p>后来经过3到4周（时间因人而异）练习后，连续两周训练的第3组都能做12下，则表示下次卧推必须增加重量。</p>
			<p>注：第一个2是指连续两次训练的表现；第二个2则是能做比原先设定的次数多出2下。</p>
			<p>当然，这也只是参考，而且一次要增加多少负荷，更难明确设定。个体差异、训练状态时好时坏、训练的目标肌群不同等因素，都是你要考量的点。因此，一般会建议增加2.5%～10%左右的重量，从轻开始慢慢尝试！同时，上肢的增加幅度会远远低于下肢。</p>
			<p>另外，我们也必须体认到，渐进负重的重量无法无限增加，进步的幅度到后期会趋于平缓。这时可能就要将减量训练的概念带入，或许就能再另创小高峰。</p>
			<p>无论是运动员或是一般人，不管是有氧还是无氧训练，都可以借由训练量（运动强度、持续时间）的渐增，慢慢地增加运动训练的质与量。</p>
			<p>有些人可能刚接触训练，就急着想要练大重量，结果却在没有基础的状况下，反倒受伤，记住：任何增加重量的时机都是掌握在你能拥有优秀的动作技巧下！</p>
		</div>
		<div class="page">
			<a href="javascript:;">上一篇</a>
			<a href="javascript:;" class="active">下一篇</a>
		</div>
	</div>
</div>
<!-- content end -->
<!-- footer start -->
<script id="block_footer">
	$(function () {
		$("#block_footer").include("footer.html");
	})
</script>
<!-- footer end -->
<!-- return top start -->
<script id="block_return">
	$(function () {
		$("#block_return").include("return_top.html");
	})
</script>
<!-- return top end -->
<script src="../js/jquery.min.js"></script>
<script src="../js/index.js"></script>
<script>
	$(function(){
		$(".banner").css("background",'url(../images/newsbg.gif) no-repeat')
	})
</script>
</body>
</html>
